volumes:
  opensearch: {}
  data: {}

networks:
  default: {}

services:
  nginx:
    image: nginx:1.27-alpine
    restart: on-failure
    ports:
      - "80:80"
    volumes:
      - ./services/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro
      - data:/data
    networks:
      default:
        aliases:
          - cdn.localtest.me
          - opencast.localtest.me
          - moodle.localtest.me

  opencast:
    image: quay.io/opencast/allinone:17.0
    hostname: opencast
    healthcheck:
      disable: true
    environment:
      ORG_OPENCASTPROJECT_SERVER_URL: http://opencast:8080
      ORG_OPENCASTPROJECT_DOWNLOAD_URL: http://cdn.localtest.me
      ORG_OPENCASTPROJECT_SECURITY_ADMIN_USER: admin
      ORG_OPENCASTPROJECT_SECURITY_ADMIN_PASS: opencast
      ORG_OPENCASTPROJECT_SECURITY_DIGEST_USER: opencast_system_account
      ORG_OPENCASTPROJECT_SECURITY_DIGEST_PASS: CHANGE_ME
      ELASTICSEARCH_SERVER_HOST: opensearch
      KARAF_DEBUG: '1'
      JAVA_DEBUG_OPTS: '-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005'
    ports:
      - "5005:5005"
    volumes:
      - data:/data

  opensearch:
    image: opencast/opensearch:1
    build:
      dockerfile_inline: |
        FROM docker.io/opensearchproject/opensearch:1
        RUN bin/opensearch-plugin install analysis-icu
    environment:
      discovery.type: single-node
      bootstrap.memory_lock: 'true'
      OPENSEARCH_JAVA_OPTS: -Xms128m -Xmx512m
      DISABLE_INSTALL_DEMO_CONFIG: 'true'
      DISABLE_SECURITY_PLUGIN: 'true'
    volumes:
      - opensearch:/usr/share/opensearch/data
